1) How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df['Y'] = df['Y'].astype(int)
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

# OUTPUT
	X	Y
0	7	1
1	2	2
2	0	0
3	3	1
4	4	2
5	2	3
6	5	4
7	0	0
8	3	1
9	4	2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [2]:
#Soln
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.862012
2015-01-02    0.220368
2015-01-05    0.786178
2015-01-06    0.040933
2015-01-07    0.197167
2015-01-08    0.826547
2015-01-09    0.236089
2015-01-12    0.241500
2015-01-13    0.489483
2015-01-14    0.080892
2015-01-15    0.152479
2015-01-16    0.338677
2015-01-19    0.686841
2015-01-20    0.182356
2015-01-21    0.262897
2015-01-22    0.940949
2015-01-23    0.870894
2015-01-26    0.217399
2015-01-27    0.332416
2015-01-28    0.676061
2015-01-29    0.907142
2015-01-30    0.095358
2015-02-02    0.649971
2015-02-03    0.792150
2015-02-04    0.261097
2015-02-05    0.470870
2015-02-06    0.412079
2015-02-09    0.091302
2015-02-10    0.727986
2015-02-11    0.602971
                ...
2015-11-20    0.936546
2015-11-23    0.290882
2015-11-24    0.821041
2015-11-25    0.824436
2015-11-26    0.728324
2015-11-27    0.206448
2015-11-30    0.874287
2015-12-01    0.608735
2015-12-02    0.622410
2015-12-03    0.100934
2015-12-04    0.490615
2015-12-07    0.419137
2015-12-08    0.428927
2015-12-09    0.009890
2015-12-10    0.583180
2015-12-11    0.013081
2015-12-14    0.738272
2015-12-15    0.010216
2015-12-16    0.874293
2015-12-17    0.018175
2015-12-18    0.339923
2015-12-21    0.497441
2015-12-22    0.769780
2015-12-23    0.732365
2015-12-24    0.326567
2015-12-25    0.573245
2015-12-28    0.884091
2015-12-29    0.354443
2015-12-30    0.712638
2015-12-31    0.939101
Freq: B, Length: 261, dtype: float64

OUTPUT:

2015-01-01    0.971705
2015-01-02    0.680549
2015-01-05    0.117991
2015-01-06    0.549043
2015-01-07    0.807020
2015-01-08    0.527337
2015-01-09    0.555179
2015-01-12    0.810164
2015-01-13    0.254778
2015-01-14    0.430857
2015-01-15    0.338790
2015-01-16    0.507596
2015-01-19    0.453363
2015-01-20    0.137832
2015-01-21    0.384657
2015-01-22    0.331411
2015-01-23    0.190754
2015-01-26    0.511471
2015-01-27    0.532615
2015-01-28    0.975850
2015-01-29    0.532319
2015-01-30    0.026673
2015-02-02    0.853376
2015-02-03    0.011652
2015-02-04    0.150799
2015-02-05    0.164325
2015-02-06    0.055639
2015-02-09    0.917021
2015-02-10    0.675198
2015-02-11    0.278521
                ...   
2015-11-20    0.650646
2015-11-23    0.518551
2015-11-24    0.293022
2015-11-25    0.553302
2015-11-26    0.942658
2015-11-27    0.101719
2015-11-30    0.113034
2015-12-01    0.581225
2015-12-02    0.968345
2015-12-03    0.454200
2015-12-04    0.082157
2015-12-07    0.210468
2015-12-08    0.380099
2015-12-09    0.652198
2015-12-10    0.072782
2015-12-11    0.274841
2015-12-14    0.998509
2015-12-15    0.277985
2015-12-16    0.841123
2015-12-17    0.990337
2015-12-18    0.051138
2015-12-21    0.792897
2015-12-22    0.333332
2015-12-23    0.216795
2015-12-24    0.523451
2015-12-25    0.632278
2015-12-28    0.130509
2015-12-29    0.217964
2015-12-30    0.702513
2015-12-31    0.547630
Freq: B, Length: 261, dtype: float64

3) Find the sum of the values in s for every Wednesday

In [3]:
s[dti.weekday == 2].sum()

24.98620776965195

OUTPUT:
    26.368208301377052

4) Average For each calendar month

In [4]:
s.resample('M').mean()

2015-01-31    0.438393
2015-02-28    0.492991
2015-03-31    0.382168
2015-04-30    0.476808
2015-05-31    0.525555
2015-06-30    0.555255
2015-07-31    0.439101
2015-08-31    0.443242
2015-09-30    0.466786
2015-10-31    0.530516
2015-11-30    0.518383
2015-12-31    0.480324
Freq: M, dtype: float64

OUTPUT:
    2015-01-31    0.483089
2015-02-28    0.506812
2015-03-31    0.483262
2015-04-30    0.403618
2015-05-31    0.460697
2015-06-30    0.429952
2015-07-31    0.539841
2015-08-31    0.436912
2015-09-30    0.447638
2015-10-31    0.546000
2015-11-30    0.476804
2015-12-31    0.475338
Freq: M, dtype: float64

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [5]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-22
2015-05-31   2015-04-15
2015-09-30   2015-07-29
2016-01-31   2015-10-16
dtype: datetime64[ns]

output:
2015-01-31   2015-01-28
2015-05-31   2015-02-20
2015-09-30   2015-08-17
2016-01-31   2015-12-14
dtype: datetime64[ns]